body{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.dd{
    height: 200px;
    width: 200px;
}
button{background-color: white;
      border: 1px solid black;
      border-radius: 8px;
       
      padding: 20px;}
button:hover{background-color: aqua;
            padding: 30px;}
