body{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dd{
    height: 200px;
    width: 200px;
}
button{background-color: white;
      border: 0;}
button:hover{background-color: aqua;
            padding: 30px;}
