body{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.dd{
    height: 200px;
    width: 200px;
}
button{background-color: white;
      border: 1px solid black;
      border-radius: 12px;
       
      padding: 15px;}
button:hover{background-color: pink;
            padding: 25px;}
